In [4]:
import pandas as pd
import numpy as np
import statistics
import math
import sys
import scipy.stats as stats

In [6]:
df = pd.read_csv("mental_illness_stats.csv")
df

     Number Killed  Mental Illness Count  Trauma Count  mental_state_stats
0               15                     5             8                  13
1                5                     2             4                   6
2                6                     6             4                  10
3                7                     2             2                   4
4                4                     6             5                  11
..             ...                   ...           ...                 ...
175              4                     0             1                   1
176              8                     7             7                  14
177              9                     8             3                  11
178              4                     1             4                   5
179             10                     2             2                   4

[180 rows x 4 columns]

In [8]:
MeanKilled = statistics.mean(df['Number Killed'])
MeanMental = statistics.mean(df['Mental Illness Count'])
MeanTrauma = statistics.mean(df['Trauma Count'])
MeanMentalStats = statistics.mean(df['mental_state_stats'])
XKilled = ((15+5+6+7+4)/5)
XMental = ((5+2+6+2+6)/5)
XTrauma = ((8+4+4+2+5)/5)
XMentalStats = ((13+6+10+4+11)/5)
print("the population mean of the number killed is", MeanKilled)
print("the population mean of the amount of mental illness is", MeanMental)
print("the population mean of the trauma count is", MeanTrauma)
print("the population mean of the mental illness stats are", MeanMentalStats)
print("the sample mean of the number killed is", XKilled)
print("the sample mean of the amount of mental illness is", XMental)
print("the sample mean of the trauma count is", XTrauma)
print("the sample mean of the mental illness stats are", XMentalStats)

the population mean of the number killed is 7.211111111111111
the population mean of the amount of mental illness is 4.75
the population mean of the trauma count is 3.8
the population mean of the mental illness stats are 8.55
the sample mean of the number killed is 7.4
the sample mean of the amount of mental illness is 4.2
the sample mean of the trauma count is 4.6
the sample mean of the mental illness stats are 8.8

In [10]:
def sd_calc(data):
    n = len(df['Number Killed'])

    if n <= 1:
        return 0.0

    mean, sd = avg_calc(data), 0.0

    # calculate stan. dev.
    for el in data:
        sd += (float(el) - mean)**2
    sd = math.sqrt(sd / float(n-1))

    return sd

def avg_calc(ls):
    n, mean = len(ls), 0.0

    if n <= 1:
        return ls[0]

    # calculate average
    for el in ls:
        mean = mean + float(el)
    mean = mean / float(n)

    return mean
sdKilled = sd_calc(df['Number Killed'])
sdMental = sd_calc(df['Mental Illness Count'])
sdTrauma = sd_calc(df['Trauma Count'])
sdMentalStats = sd_calc(df['mental_state_stats'])
print("Standard Deviation of Number Killed : ",sdKilled)
print("Standard Deviation of Mental Illness Count : ",sdMental)
print("Standard Deviation of Trauma Count : ",sdTrauma)
print("Standard Deviation of Mental State Stats : ",sdMentalStats)

Standard Deviation of Number Killed :  6.612996251996978
Standard Deviation of Mental Illness Count :  2.663376694910882
Standard Deviation of Trauma Count :  2.1018746620510145
Standard Deviation of Mental State Stats :  4.029604136538315

In [11]:
tKilled = (XKilled - MeanKilled) / (sdKilled / math.sqrt(len(df['Number Killed'])))
tMental = (XMental - MeanMental) / (sdMental / math.sqrt(len(df['Mental Illness Count'])))
tTrauma = (XTrauma - MeanTrauma) / (sdTrauma / math.sqrt(len(df['Trauma Count'])))
tMentalStats = (XMentalStats - MeanMentalStats) / (sdMentalStats / math.sqrt(len(df['mental_state_stats'])))
print("The Test Statistic for the Number Killed is: ", tKilled)
print("The Test Statistic for the Mental Illness Count is: ", tMental)
print("The Test Statistic for the Trauma Count is: ", tTrauma)
print("The Test Statistic for the Mental State Stats is: ", tMentalStats)

The Test Statistic for the Number Killed is:  0.38321666577906943
The Test Statistic for the Mental Illness Count is:  -2.7705522616642893
The Test Statistic for the Trauma Count is:  5.106454007835833
The Test Statistic for the Mental State Stats is:  0.8323651288315062

In [12]:
TKilled = (XKilled - MeanKilled) / (sdKilled) / (math.sqrt(len(df['Number Killed'])))
TMental = (XMental - MeanMental) / (sdMental) / (math.sqrt(len(df['Mental Illness Count'])))
TTrauma = (XTrauma - MeanTrauma) / (sdTrauma) / (math.sqrt(len(df['Trauma Count'])))
TMentalStats = (XMentalStats - MeanMentalStats) / (sdMentalStats) / (math.sqrt(len(df['mental_state_stats'])))
print("The T Critical for the Number Killed is: ", TKilled)
print("The T Critical for the Mental Illness Count is: ", TMental)
print("The T Critical for the Trauma Count is: ", TTrauma)
print("The T Critical for the Mental State Stats is: ", TMentalStats)

The T Critical for the Number Killed is:  0.0021289814765503854
The T Critical for the Mental Illness Count is:  -0.01539195700924605
The T Critical for the Trauma Count is:  0.02836918893242129
The T Critical for the Mental State Stats is:  0.004624250715730589